.container {
  grid-area: content;
  display: flex;
  flex-direction: column;
}

.httpContainer {
  display: flex;
}

.httpCode {
  padding: 2px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 30px;
  background-color: white;
  border-radius: 15px;
  font-weight: bold;
}

.httpText {
  padding: 2px;
  padding-left: 15px;
  font-size: 30px;
}

.errorHeader {
  font-size: x-large;
  padding-bottom: 5px;
}
.errorText {
  padding: 2px;
  font-size: 18px;
}
