.paginationButtonsContainer {
  padding-bottom: 10px;
  padding-top: 0px;
  display: flex;
}

.pageNumberBtn {
  background-color: white;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
  border-radius: 5px;
  min-width: 18px;
  text-align: center;
}
.selectedPageNumberBtn {
  background-color: rgb(253, 234, 61);
  font-weight: bold;
  cursor: pointer;
  padding: 2px;
  margin: 5px;
  border-radius: 5px;
  min-width: 18px;
  text-align: center;
}
