.posts_block__label {
    padding: 8px;
    margin: 0px;
    background-color: var(--block-background-color);
}

.posts {
  padding-bottom: 2px;
}

.post_new_block {
    padding: 8px;
    margin-bottom: var(--block-bottom-margin);
    border-radius: 0 0 var(--block-border-radius) var(--block-border-radius);
    background-color: var(--block-background-color);
}
