  box-shadow: var(--block-box-shadow);
.posts_block__label {
  padding: 8px;
  margin: 0px;
}

.posts {
  padding-bottom: 2px;
}

.post_new_block {
  padding: 8px;
  margin-bottom: var(--block-bottom-margin);
}
}
