.flexContainer_row {
    display: flex;
  }
  
  .flexContainer_column {
    display: flex;
    flex-direction: column;
  }
  
  .font_w700 {
    font-weight: 700;
  }
  
  .contactList {
    padding-left: 10px;
  }
  