  box-shadow: var(--block-box-shadow);
.cover_img {
  padding: 8px 8px 5px 8px;
}

.cover_img > img {
  object-fit: cover;
  width: 100%;
  max-height: 300px;
}

.avatar {
  padding: 8px;
  /* margin-bottom: var(--block-bottom-margin);
  border-radius: var(--block-border-radius); */
  
}
