.item {
    display: flex;
    flex-direction: row;
    padding: 8px;
    margin-bottom: var(--block-bottom-margin);
    border-radius: var(--block-border-radius);
    background-color: var(--block-background-color);
}

.item img {
    width: 50px;
}