.news {
    grid-area: content;
    padding: 8px;
    margin-bottom: var(--blocks-between-distance);
    border-radius: var(--block-border-radius);
    background-color: var(--block-background-color);
    box-shadow: var(--block-box-shadow);
}