:root {
  --block-border-radius: 5px;
  --block-background-color: #fff;
  --block-bottom-margin: 10px;
  --header-background-color: #fff;
  --header-height: 50px;
  --block-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.app-wrapper {
  overflow-y: auto;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #dae0e6;
  min-height: 100vh;
  min-width: 315px;

  /* background-color: var(--web-wash); */
  -webkit-font-smoothing: antialiased;
    overscroll-behavior-y: none;
    background-repeat: repeat-y;
}

.header{
  width: 100%;
}

.app-wrapper-content {
  margin-left: 5px;
  padding-right: 5px;
  width: auto;
  max-width: 1000px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-areas:
    "header  header  header"
    "nav     content content"
    "sidebar content content"
    ".       content content";
  grid-auto-rows: auto;
}

@media (max-width: 700px) {
  .app-wrapper {
    align-items: unset;
  }

  .app-wrapper-content {
    
    grid-template-areas:
      "header header header"
      "nav nav nav"
      "content content content";
  }
}
