.dialogs {
  grid-area: content;
  display: grid;
  grid-template-columns: 2fr 10fr;
  /* padding: 8px; */
  margin-bottom: var(--blocks-between-distance);
  border-radius: var(--block-border-radius);
  background-color: var(--block-background-color);
  box-shadow: var(--block-box-shadow);
}

.dialogsItems {
  margin-right: 5px;
}

.dialogsArea{
  padding: 5px;
}

.messagesArea {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #d2edff;
  border-radius: var(--block-border-radius);
}

.messagesItems {
  margin-left: 5px;
}

.newMessageBlock {
  padding: 10px;
}

.textAreaContainer textarea {
  overflow: auto;
  width: 21em;
  height: 5em;
  max-width: 30em;
  resize: none;
}
